html body{
    margin:0 0;
    padding:0 0;
    width:100%;
    
}
 .banner ul li{
    list-style: none;
    float: left;
    width:16.45%;
    border:1px gray solid;
    height:50px;
    text-align: center;
    line-height: 50px;
}
*{
    margin:0 0;
    padding:0 0;
}
.container{
    width:70%;
    margin:0 auto;
    border:1px solid gray;
    
}
.header{
    width:100%;
    height:150px;
}
.header-left-part{
    float:left;
    width:50%;
    height:80%;
    margin-top:20px;
    margin-left:20px;
}
h2{
    font-size:1.5rem;
}
.header-right-part{
    width:20%;
    float:right;
    margin-left:20px;
    margin-top:20px;
    height:80%;
    
}
.quit-btn{
    margin-top:30px;
    margin-left:50%;
    width:70px;
    height: 25px;
    border-radius:5px;
}
.banner{
    width:100%;
    clear:both;
    margin:0 auto;
    
}
.left{
    width: 18%;
    border: 1px solid gray;
    float:left;
    height:850px;
    clear:both;
    margin-bottom:50px;
}
.left-title li{
    list-style: none;
    width:100%;
    text-align:center;
    height:60px;
    line-height: 60px;
    border-top:1px solid gray;
    
}
.left-title{
    margin-top:50px;
}
#last{
    border-bottom: 1px solid gray;
}
.right{
    height: 850px;
    width:81.5%;
    float: left;
    border:1px solid gray;
}
.right-top{
    width:50%;
    height:50px;
   /* border:1px solid gray;*/
    line-height: 50px;
    padding-left: 30px;
}
.fanhui{
    width:60px;
    height:30px;
    border-radius:5px;
}
.right-middle{
    width: 100%;
    height: 120px;
}
.p{
    width:100%;
    height:60px;
    padding-left: 50px;
    line-height: 90px;
}
.right-bottom{
    width: 100%;
}
.select-1{
    height: 100px;
}
.select-2{
    height: 100px;
}
.select{
    float: left;
    padding-left: 150px;
}
.button1{
    float: left;
    padding-left:330px;
}
.button{
    float: left;
    padding-left: 50px;
}
.btn{
    width:100px;
    height:30px;
    border-radius:5px;
}
.zhu{
    padding-top: 250px;
    padding-left: 50px;
}
a:link,a:visited{
 text-decoration:none;  /*超链接无下划线*/
}