html body{
    margin:0 0;
    padding:0 0;
    width:100%;
    
}
 .banner ul li{
    list-style: none;
    float: left;
    width:16.45%;
    border:1px gray solid;
    height:50px;
    text-align: center;
    line-height: 50px;
}
*{
    margin:0 0;
    padding:0 0;
}
.container{
    width:70%;
    margin:0 auto;
    border:1px solid gray;
    
}
.header{
    width:100%;
    height:150px;
}
.header-left-part{
    float:left;
    width:50%;
    height:80%;
    margin-top:20px;
    margin-left:20px;
}
h2{
    font-size:1.5rem;
}
.header-right-part{
    width:20%;
    float:right;
    margin-left:20px;
    margin-top:20px;
    height:80%;
    
}
.quit-btn{
    margin-top:30px;
    margin-left:50%;
    width:70px;
    height: 25px;
    border-radius:5px;
}
.banner{
    width:100%;
    clear:both;
    margin:0 auto;
    
}
.left{
    width: 18%;
    border: 1px solid gray;
    float:left;
    height:850px;
    clear:both;
    margin-bottom:50px;
}
.left-title li{
    list-style: none;
    width:100%;
    text-align:center;
    height:60px;
    line-height: 60px;
    border-top:1px solid gray;
    
}
.left-title{
    margin-top:50px;
}
#last{
    border-bottom: 1px solid gray;
}
.right{
    height: 850px;
    width:81.5%;
    float: left;
    border:1px solid gray;
}
.right-top{
    width:100%;
    height:300px;
}
.fanhui{
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding-left: 20px;
    
}
.btn{
    width:80px;
    height:30px;
    border-radius:5px;   
}
.title{
    width: 100%;
    height: 220px;
    /*border-bottom:1px solid gray;*/
}
.p{
    width:100%;
    height:35px;
    padding-left: 50px;
}
.right-middle{
    width: 100%;
    /*border-bottom:1px solid gray;*/
}
.deal{
    height: 40px;
    padding-left: 20px;
}
.p-size{
    font-size: 25px;
}
.ban{
    height: 40px;
}
.ban-first-tittle{
    float: left;
    width: 15%;
    padding-left: 20px;
    line-height: 40px;
}
.ban-second-tittle{
    float: left;
    width: 12%;
    line-height: 40px;
}
.ban-last-tittle{
    float: left;
    width: 20%;
    line-height: 40px;
}
.reason{
    height: 103px;
}
.reason-first{
    width: 12%;
    line-height: 30px;
    padding-left: 135px;
    float: left;
}
.reason-second{
    width: 250px;
    height: 100px;
    float: left;
    border:1px solid gray;
}
.yes{
    padding-left: 500px;
}
.yes-btn{
    width: 90px;
    height: 30px;
    border-radius:5px;
}
.right-bottom{

}
.right-bottom-first{
    height: 110px;
    width: 100%;
    padding-top: 20px;
}
.number-first{
    float: left;
    padding-left: 40px;
}
.number-second{
    float: left;
    padding-left: 40px;
    width: 100px;
}
.number-third{
    width: 250px;
    height: 100px;
    float: left;
    border:1px solid gray;
}
.right-bottom-second{
    padding-left: 500px;
}
.no-btn{
    width: 90px;
    height: 30px;
    border-radius:5px;
}
.right-bottom-third{
    width: 100%;
    padding-top: 50px;
}
.clear-first{
    padding-left: 40px;
}
.clear-second{
    padding-top: 50px;
    padding-left: 500px;
}
.clear-button{
    width: 90px;
    height: 30px;
    border-radius:5px;
}