#bodya1{
	margin-right:auto;
	margin-left:auto;
	border:solid 1px #cbc7c6; 
	height:1300px;
	width: 1010px;
}
#body2-top{
	margin-left:auto;
	margin-top:30px;
	border:solid 1px #cbc7c6; 
	height:400px;
	width:930px;
}
#p1{
	color: #4a4848;
	/*text-decoration: none; */
	font-family:"楷体";
	font-size:20px;
	margin-left: 40px;
	
}
#p2{
	color: #4a4848;
	/*text-decoration: none; */
	font-family:"楷体";
	font-size:15px;
	margin-left: 20px;
}
#body2-top img{
	margin-left:20px;
	margin-top: 10px;
	float:left;
	width:200px;
	height:120px;
}

#body2-bottom div{
    border:solid 1px #cbc7c6; 
	width:122px;
	height:100px;
	float:left;
	margin-left:40px;
	margin-top: 20px;
}
