#bodya{
	margin-right:auto;
	margin-left:auto;
	border:solid 1px #cbc7c6; 
	height:1150px;
	width: 1010px;
}
#bodya input{
   
	height: 50px;
	width: 140px;
	background-color:white;
	-moz-border-radius: 10px;
    -webkit-border-radius: 15px;
    border-radius:15px; 
    color: #4a4848;
	/*text-decoration: none; */
	font-family:"楷体";
	font-size:20px;
	margin-top: 20px;
	float:right;
	margin-right: 30px;

}
